body{
    background-image: url("calculator.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.outer{
    height: 100%;
    width:35%;
    border-radius: 30px;
    margin: auto;
    justify-content: center;
    justify-items: center;
}
.input{
    border-radius: 40px;
    height:30%;
    width: 100%;
}
#dis{
    border-radius: 15px;
    height: 75px;
    width: 86%;
    margin: 8% 8% 3% 6%;
    text-align: right;
    font-size: 30px;
    border: 1px solid aliceblue;   
}
.button{
    margin: 7%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto; 
    width: 85%;
}

.btn{
   height: 60%;
   width: 60%;
   margin: 20%;
   border-radius: 30px;
   border: 1px solid aliceblue;
   background-color: rgba(133, 182, 245, 0.616);
   color: aliceblue;
   cursor: pointer;
}
#C{
    margin-bottom: 50%;
    margin-top: 15%;
    width: 125%;
    height: 50%;
    background-color: rgb(14, 3, 175);
}
#Z{
    width: 58%;
    height: 150%;
    background-color:orangered
}
#operate{
    background-color: rgba(88, 248, 213, 0.884);
    color: orangered;
    font-size: 130%;
}
@media screen and (max-width:520px){
    .outer{
        width: 70%;
        background-color: rgb(37, 36, 39);
    }
    
}
@media screen and (min-width:520px){
    .outer{
        width: 45%;
    }
    
}